@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

html , body , #root , .app , .content {
  height: 100%;
  width: 100%;
  font-family: "Boldonse" , system-ui;
}

.app{
  position: relative;
  display: flex;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb{
  background: #888;
}
::-webkit-scrollbar-track:hover{
  background: #555;
}